/*******************************************************************************
 *
 *  Copyright © Aricent Holdings Luxembourg S.a.r.l. 2017.  All rights reserved.
 *
 ******************************************************************************/
#List of REST Webservice URL parameters

#### Array Queries ####
# 2019-06-06 mdavis remove ucodefam from fields, not supported in this version
#                   Add wildcard %25 to serialnb filter
ARRAY.name=ARRAY
ARRAY.api=fields=serialnb,sstype,devtype,model,vendor,device,arraytyp,vstatus\
	&filter=(serialnb%3D%27$ARRAYNUMBER$%25%27)

# 2019-06-06 mdavis replace device with serialnb in filter
ARRAY_SIZE.name=ARRAY_SIZE
ARRAY_SIZE.api=limit=$LIMIT$&filter=serialnb%3D%27$ARRAYNUMBER$%27\
	%26(name%3D%27ConfiguredUsableCapacity%27%7Cname%3D%27ConfiguredRawCapacity%27%7C\
	name%3D%27PoolFreeCapacity%27%7Cname%3D%27PoolUsedCapacity%27%7C\
	name%3D%27RawCapacity%27%7Cname%3D%27UsedCapacity%27%7Cname%3D%27FreeCapacity%27)\
	%26%21parttype\
	$PERIODFILTER$\
	&properties=device,devtype,location,model,devdesc,name,unit

ARRAY_INTERNAL_POOL.name=ARRAY_INTERNAL_POOL
#ARRAY_INTERNAL_POOL.api=fields=diskrpm,dgstype,isfast,part,partstat,diskloc,pooltype,poolname,disktype,dgraid,parttype,dgname\
#	&filter=parttype%3D%27Internal%20Storage%20Pool%27\
#	%26serialnb%3D%27$ARRAYNUMBER$%27
ARRAY_INTERNAL_POOL.api=fields=diskrpm,dgstype,isfast,part,partstat,diskloc,pooltype,poolname,disktype,dgraid,parttype,dgname\
	&filter=(parttype%3D%27Internal%20Storage%20Pool%27%7Cparttype%3D%27Storage%20Pool%27)\
	%26serialnb%3D%27$ARRAYNUMBER$%27

# 2019-06-07 mdavis removed a bunch of fields that are not valid	
ARRAY_STORAGE_POOL.name=ARRAY_STORAGE_POOL
ARRAY_STORAGE_POOL.api=fields=part,diskloc,pooltype,poolname,parttype\
	&filter=parttype%3D%27Storage%20Pool%27\
	%26serialnb%3D%27$ARRAYNUMBER$%27

ARRAY_POOL_SIZE.name=ARRAY_POOL_SIZE
ARRAY_POOL_SIZE.api=limit=$LIMIT$&filter=(name%3D%27EnabledCapacity%27%7Cname%3D%27UsedCapacity%27%7Cname%3D%27FreeCapacity%27)\
        %26parttype%3D%27Internal%20Storage%20Pool%27%7C\
        (name%3D%27EnabledCapacity%27%7Cname%3D%27UsedCapacity%27%7Cname%3D%27FreeCapacity%27)\
        %26parttype%3D%27Storage%20Pool%27\
        $PERIODFILTER$\
        &properties=name,poolname,unit

ARRAY_VOLUME.name=ARRAY_VOLUME
ARRAY_VOLUME.api=fields=device,part,devconf,svclevel,purpose,poolname,pooltype,sgname\
	&filter=parttype%3D'LUN'\
	%26(!dgstype%3D'Thin'%7Cdgstype%3D'Thin'%26poolname%26!poolname%3D'N/A'%26!poolname%3D'Unbound')\
	%26device%3D%27$ARRAYNUMBER$%27\
#ARRAY_VOLUME.api=fields=device,part,devconf,svclevel,purpose,poolname,pooltype,sgname\
#	&filter=parttype%3D'LUN'\
#	%26(!dgstype%3D'Thin'%7Cdgstype%3D'Thin'%26poolname%26!poolname%3D'N/A'%26!poolname%3D'Unbound')\
#	%26serialnb%3D%27$ARRAYNUMBER$%27\
#        %26!sgname%3D%27N/A%27
	
#ARRAY_VOLUME.api=fields=lunname,sgname\
#	&filter=device%3D%27$ARRAYNUMBER$%%27

ARRAY_VOLUME_SIZE.name=ARRAY_VOLUME_SIZE
ARRAY_VOLUME_SIZE.api=limit=$LIMIT$&filter=(name%3D%27UsedCapacity%27%7Cname%3D%27Capacity%27)\
	%26parttype%3D%27Storage%20Group%27\
	$PERIODFILTER$\
	&properties=name,part,unit

# 2019-06-07 mdavis adjusted fields and removed extra % in unit==
#ARRAY_DISK.api=fields=diskrpm,dgname,part,partstat,partmdl,disksize,partid,partsn,disktype,parttype,unit\
ARRAY_DISK.name=ARRAY_DISK
ARRAY_DISK.api=fields=diskrpm,dgname,part,partstat,partmdl,disksize,partsn,disktype,parttype,unit\
	&filter=serialnb%3D%27$ARRAYNUMBER$%27\
	%26(unit%3D%27GB%27%7Cunit%3D%27MB%27%7Cunit%3D%27TB%27%7Cunit%3D%27KB%27)%26parttype%3D%27Disk%27
    
ARRAY_PORT.name=ARRAY_PORT
ARRAY_PORT.api=fields=partstat,director,portwwn,porttype,maxspeed,port,wwnbit\
	&filter=serialnb%3D%27$ARRAYNUMBER$%27
#	&filter=!porttype%3D%27DF%27\
#	&devtype%3D%27Array%27\
#	&parttype%3D%27Port%27\
#	&device%3D%27$ARRAYNUMBER$%27

ARRAY_PORT_NOWWN.name=ARRAY_PORT_NOWWN
ARRAY_PORT_NOWWN.api=fields=partstat,director,porttype,maxspeed,port,wwnbit\
	&filter=serialnb%3D%27$ARRAYNUMBER$%27
#	&filter=porttype%3D%27DF%27\
#	&devtype%3D%27Array%27\
#	&parttype%3D%27Port%27\
#	&device%3D%27$ARRAYNUMBER$%27
	
ARRAY_PORT_CONNECTIVITY.name=ARRAY_PORT_CONNECTIVITY
ARRAY_PORT_CONNECTIVITY.api=fields=device%2Cpart%2Cportwwn\
       &filter=!vstatus%3D%3D'inactive'%26datatype%3D%3D'Block'%26sstype%3D%3D'Block'%26parttype%3D%3D'Port'

ARRAY_LUN.name=ARRAY_LUN
ARRAY_LUN.api=fields=usedby,ismasked,config,disktype,dgraid,repltype,isused,dgstype,ispcbnd,alias,\
	srcarray,purpose,partstat,devconf,rootlun,costgb,ismapped,rootwwn,dgname,csupolnm,ispolcsu,\
	diskrpm,srclun,maxrtime,luntagid,device,disksize,sgname,parttype,part,partsn\
	&filter=parttype%3D%27LUN%27

HOST_DISK_WWN.name=HOST_DISK_WWN
HOST_DISK_WWN.api=fields=device%2Cpart%2Cpartsn\
	&filter=!vstatus%3D'inactive'%26devtype%3D'Host'%26parttype%3D'Disk'

ARRAY_LUN_WWN.name=ARRAY_LUN_WWN
ARRAY_LUN_WWN.api=fields=device%2Cpart%2Cpartsn%2Csgname\
	&filter=!vstatus%3D'inactive'%26devtype%3D'Array'%26parttype%3D'LUN'

#### Fabric/ Switch Queries ####
FABRIC.name=FABRIC
FABRIC.api=fields=part,partwwn\
	&filter=parttype%3D%27Fabric%27
    
ZONE.name=ZONE
ZONE.api=fields=pswwn,zsetname,zname,devtype\
    &filter=datagrp='BROCADE%'&parttype=='Fabric' 
    
ZONE_SET.name=ZONE_SET
ZONE_SET.api=fields=pswwn,zsetname,devtype\
	&filter=datagrp='BROCADE%'&parttype=='Fabric' 

SWITCH.name=SWITCH
#SWITCH.api=fields=device,devicesn,model,vendor,devdesc,ip,deviceid,pswwn,firmware,devstat,partstat\
#	&filter=!datagrp=='BROCADE_FABRIC'
SWITCH.api=fields=device,devicesn,model,vendor,devdesc,ip,deviceid,firmware\
	&filter=!datagrp=='BROCADE_FABRIC'
    
SWITCH_PORT.name=SWITCH_PORT
#SWITCH_PORT.api=fields=porttype,partwwn,partstat,device,part,partname,maxspeed,\
#	vstatus,parttype,vendor,maxport,deviceid,devtype,devicesn,datagrp,devdesc\
#    &filter=!datagrp=='GENERIC-INTERFACES'&!datagrp=='GENERIC-INTERFACES-NO-IFXTABLE' 
SWITCH_PORT.api=fields=porttype,partwwn,partstat,device,part,maxspeed,\
	vstatus,parttype,vendor,deviceid,devtype,devicesn,datagrp,devdesc\
    &filter=!datagrp='GENERIC-INTERFACES'&!datagrp='GENERIC-INTERFACES-NO-IFXTABLE' 
	
SWITCH_PORT_CONNECTIVITY.name=SWITCH_PORT_CONNECTIVITY
#SWITCH_PORT_CONNECTIVITY.api=fields=device%2Cpart%2Cportwwn%2Cpartwwn\
#	&filter=!vstatus%3D%3D'inactive'%26devtype%3D%3D'FabricSwitch'%26parttype%3D%3D'Port'
SWITCH_PORT_CONNECTIVITY.api=fields=device%2Cpart%2Cportwwn%2Cpartwwn\
	&filter=!vstatus%3D'inactive'%26devtype%3D'FabricSwitch'%26parttype%3D'Port'

#### Host Queries ####
HOST.name=HOST
HOST.api=fields=devtype,device,ip,vendor,hostname,model,osarch,virtual,fqdn,devdesc,domain\
	&filter=devtype%3D%27Host%27
	
HOST_PASSIVE.name=HOST_PASSIVE
HOST_PASSIVE.api=fields=devtype,partsn,hostname,part\
	&filter=devtype%3D%27PassiveHost%27

HOST_PASSIVE_PORT.name=HOST_PASSIVE_PORT
HOST_PASSIVE_PORT.api=fields=hostwwn,hostname\
	&filter=devtype%3D%27PassiveHost%27&parttype%3D%27Port%27

HOST_PORT.name=HOST_PORT
HOST_PORT.api=fields=hostname,portname,pmodel,pvendor,part,hbasn,hbafmw,partsn,hbadrv,nodewwn\
	&filter=devtype%3D%27Host%27\
	&parttype%3D%27Port%27
	
HOST_DISK.name=HOST_DISK
HOST_DISK.api=filter=parttype%3D%27Disk%27%20%26%20devtype%3D%27Host%27%20%26%20isremote%3D%27false%27\
	&fields=hostname,parttype,memory,part,partdesc,pvendor
	
HOST_STORAGE_VOLUME.name=HOST_STORAGE_VOLUME
HOST_STORAGE_VOLUME.api=fields=part,hostname\
	&filter=parttype%3D%27VolumeGroup%27&name%3D%27FreeCapacity%27%7Cname%3D%27UsedCapacity%27&!part
    
HOST_PORT_CONNECTIVITY.name=HOST_PORT_CONNECTIVITY
HOST_PORT_CONNECTIVITY.api=fields=device%2Cpart%2Cpartsn%2Chostname\
	&filter=!vstatus%3D%3D'inactive'%26devtype%3D%3D'Host'%26parttype%3D%3D'Port'

HOST_FS.name=HOST_FS
HOST_FS.api=filter=parttype%3D%27FileSystem%27%20%26%20devtype%3D%27Host%27\
	$PERIODFILTER$\
	&properties=bldevice%2Cpartdesc%2Cdevice%2Cpart%2Cpartsn%2Cvolgroup%2Cmount%2Cname

#### Hypervisor Queries ####
HYPERVISOR.name=HYPERVISOR
HYPERVISOR.api=fields=device,ip,devdesc,nbcpu,vendor,vstatus,hypervsr,devtype,product,model,deviceid,nbcore,vmotion,domain\
	&filter=devtype%3D%27Hypervisor%27\
	&name%3D%27Availability%27\
	&!part\
	&!devdesc%3D%27Host%27

HYPERVISOR_PORTS.name=HYPERVISOR_PORTS
HYPERVISOR_PORTS.api=fields=part,partsn,device,model,vendor,deviceid,devdesc,partstat,key,\
	nodewwn,fcnod,fcbus,busnum,hbadrv,pmodel\
	&filter=devtype%3D%27Hypervisor%27 
	
HYPERVISOR_PORT_CONNECTIVITY.name=HYPERVISOR_PORT_CONNECTIVITY
HYPERVISOR_PORT_CONNECTIVITY.api=fields=device%2Cpart%2Cpartsn\
	&filter=!vstatus%3D%3D'inactive'%26devtype%3D%3D'Hypervisor'%26parttype%3D%3D'Port'
	
HYPERVISOR_DISK_WWN.name=HYPERVISOR_DISK_WWN
HYPERVISOR_DISK_WWN.api=fields=device%2Cpart%2Cpartsn\
	&filter=!vstatus%3D'inactive'%26devtype%3D'Hypervisor'%26parttype%3D'Disk'
	
HYPERVISOR_DISK.name=HYPERVISOR_DISK
HYPERVISOR_DISK.api=filter=!vstatus%3D%3D%27inactive%27%26parttype%3D%27Disk%27%20%26%20devtype%3D%27Hypervisor%27\
	&fields=parttype,part,vendor,model,device,devdesc,partsn

#### Fabric/Switch Queries for VSAN ####
FABRIC_VSAN.name=FABRIC_VSAN
FABRIC_VSAN.api=fields=part,partwwn\
	&filter=datagrp='CISCO%'
    
ZONE_VSAN.name=ZONE_VSAN
ZONE_VSAN.api=fields=pswwn,zsetname,zname,devtype\
    &filter=datagrp=='CISCO%'
    
ZONE_SET_VSAN.name=ZONE_SET_VSAN
ZONE_SET_VSAN.api=fields=pswwn,zsetname,devtype\
	&filter=datagrp=='CISCO%'

SWITCH_VSAN.name=SWITCH_VSAN
SWITCH_VSAN.api=fields=device,devicesn,model,vendor,devdesc,ip,deviceid,pswwn,firmware,partstat\
	&filter=devtype=='FabricSwitch'&devdesc='%Cisco%'
    
SWITCH_PORT_VSAN.name=SWITCH_PORT_VSAN
SWITCH_PORT_VSAN.api=fields=porttype,partwwn,partstat,device,part,partname\
	&filter=(parttype=='Port'|parttype=='Interface')&(iftype=='fibreChannel'|iftype=='portChannel')|parttype=='NameServer'
